main.responsive {
  margin-top: 3rem;
  margin-bottom: 2rem;
  min-height: 450px;
  text-align: center;
}
main.responsive .main__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
main.responsive .main__text {
  max-width: 80%;
}

.hero-principal {
  align-items: center;
  justify-content: center;
}
.hero-principal .hero-video {
  margin-bottom: 2rem;
  width: 426px;
  height: 240px;
}
.hero-principal .galeria__nosotros,
.hero-principal h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #22333b;
  font-family: "Poppins", sans-serif;
}

h1 {
  padding: 2rem;
  font-size: 2.5rem;
  color: #eae0d5;
}

h2,
h3,
h4 {
  color: #eae0d5;
}

p {
  color: #eae0d5;
  margin-top: 1rem;
}

h5 {
  background-color: #eae0d5;
  opacity: 60%;
  font-size: 16px;
  color: #22333b;
}

img {
  object-fit: cover;
}

.img-fluid {
  border-radius: 10px;
}

img:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.1s;
}

.btn-primary {
  color: #eae0d5;
  border: 2px solid #eae0d5;
  background-color: #c6ac8f;
}

.btn-primary:hover {
  color: #eae0d5;
  background-color: #eae0d5;
  border-color: #eae0d5;
  background-image: linear-gradient(#5e503f, #c6ac8f);
}

.btnbtn-outline-success {
  border-radius: 8px;
  color: #5e503f;
  background-color: #5e503f;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: flex;
    flex-direction: column;
    /*  justify-content: center;
        align-items: center; */
  }
}
@media screen and (max-width: 767px) {
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 767px) {
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #5e503f;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  .hero-video {
    display: block;
    margin-bottom: 2rem;
    width: 176px;
    height: 144px;
  }
}
@media screen and (max-width: 767px) {
  .hero-video {
    display: block;
    margin-bottom: 2rem;
    width: 176px;
    height: 144px;
  }
}
footer {
  height: 110px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #eae0d5;
}
footer h6 {
  color: #22333b;
  font-size: 12px;
}
footer .iconos-buscanos {
  margin-top: 1rem;
}
footer path:hover {
  color: #c6ac8f;
  transition: all 0.1s ease-in;
  font-size: 10px;
}
footer .iconos-redes-sociales svg {
  width: 40px;
  height: 40px;
  padding: 1px;
  margin: 10px;
  border: 2px solid #22333b;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .iconos-redes-sociales svg {
  font-size: 10px;
  transition: all 0.2s;
  color: #22333b;
}

.navbar {
  display: flex;
  /*   flex-direction: row; */
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #eae0d5;
  justify-content: center;
  /*  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center; */
}
.navbar .navbar-collapse {
  margin-left: 100px;
  /*  align-items: center; */
  justify-content: space-between;
}
.navbar .nav-item {
  margin-left: 15px;
  /* align-items: center; */
  justify-content: space-between;
  color: #5e503f;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #5e503f;
  /*display: flex;
  flex-direction: row;
  background-color: $colorgreen; */
  background-image: linear-gradient(#5e503f 60%, #c6ac8f);
}
.card .floral {
  display: flex;
  flex-direction: row;
  background-color: #5e503f;
  margin-bottom: 3rem;
}
.card .clasicos {
  display: flex;
  flex-direction: row;
  background-color: #5e503f;
  margin-bottom: 3rem;
}
.card .delmar {
  display: flex;
  flex-direction: row;
  background-color: #5e503f;
  margin-bottom: 3rem;
}

/* FORMULARIO CONTACTO */
form .main__contact {
  justify-content: center;
  align-items: center;
  text-align: center;
}
form label {
  color: #eae0d5;
}
form input,
form select,
form textarea {
  color: #22333b;
  border-radius: 4px;
  padding: 4px;
  background-color: #eae0d5;
}

#animation {
  color: #c6ac8f;
}

#animation:after {
  content: "";
  animation: animation 2s linear infinite;
}

@keyframes animation {
  0% {
    content: "xs";
  }
  10% {
    content: "xs";
  }
  20% {
    content: "xs";
  }
  30% {
    content: "as";
  }
  40% {
    content: "as";
  }
  50% {
    content: "as";
  }
  60% {
    content: "os";
  }
  70% {
    content: "os";
  }
  80% {
    content: "es";
  }
  90% {
    content: "es";
  }
  100% {
    content: "es";
  }
}

/*# sourceMappingURL=style.css.map */
