.card {
  @include card;
  /*display: flex;
  flex-direction: row;
  background-color: $colorgreen; */
  background-image: linear-gradient($colorgreen 60%, $colorbeige);

  .floral {
    @include card;
    margin-bottom: 3rem;
  }

  .clasicos {
    @include card;
    margin-bottom: 3rem;
  }

  .delmar {
    @include card;
    margin-bottom: 3rem;
  }
}
