$colorgreen: #5e503f;

.card {
  /* @include card; */
  display: flex;
  flex-direction: row;
  background-color: $colorgreen;

  .floral {
    /* @include card; */
    margin-bottom: 3rem;
  }

  .clasicos {
    /* @include card; */
    margin-bottom: 3rem;
  }

  .delmar {
    /* @include card; */
    margin-bottom: 3rem;
  }
}
