/* FORMULARIO CONTACTO */
$colorwhite: #eae0d5;
$colorblue: #22333b;

$back-form: $colorwhite;

form {
  .main__contact {
    @include contactform;
  }

  label {
    color: $colorwhite;
  }
  input,
  select,
  textarea {
    color: $colorblue;
    border-radius: 4px;
    padding: 4px;
    background-color: $colorwhite;
  }
}
