/* FORMULARIO CONTACTO */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("..") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eae0d5;
  box-shadow: #0a0908;
}

.left {
  background: url("../imagenes/carrusel6.jpg") no-repeat center;
  background-size: cover;
  height: 80%;
  width: 80%;
  margin-left: 15%;
  object-fit: cover;
  border-radius: 10px;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  color: #22333b;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #c6ac8f;
}

.field {
  width: 100%;
  border: 2px solid #c6ac8f;
  outline: none;
  background-color: #eae0d5;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #22333b;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: #c6ac8f;
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #c6ac8f;
  color: #eae0d5;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #c6ac8f;
}

.field:focus {
  border: 2px solid #22333b;
  background-color: #eae0d5;
}

/* form {
  .main__contact {
    @include contactform;
  }

  label {
    color: $colorwhite;
  }
  input,
  select,
  textarea {
    color: $colorblue;
    border-radius: 4px;
    padding: 4px;
    background-color: $colorwhite;
  }
}
 */
