@media screen and (max-width: 767px) {
  .navbar-brand {
    display: flex;
    flex-direction: column;
    /*  justify-content: center;
        align-items: center; */
  }
}

@media screen and (max-width: 767px) {
  .main__content {
    @include mediaquerie;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-item {
    @include mediaquerie;
    justify-content: space-between;
  }
}

@media screen and (min-width: 767px) {
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #c6ac8f;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .hero-video {
    display: block;
    margin-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 176px;
    height: 144px;
  }
}

@media screen and (max-width: 767px) {
  .hero-video {
    display: block;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
    width: 176px;
    height: 144px;
  }
}

/* media card */

@media screen and (max-width: 767px) {
  .card {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 767px) {
  .card {
    display: block;
    align-items: center;
    justify-content: space-between;
    color: #c6ac8f;
  }
}
