@media screen and (max-width: 767px) {
  .navbar-brand {
    display: flex;
    flex-direction: column;
    /*  justify-content: center;
        align-items: center; */
  }
}

@media screen and (max-width: 767px) {
  .main__content {
    @include mediaquerie;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-item {
    @include mediaquerie;
    justify-content: space-between;
  }
}

@media screen and (min-width: 767px) {
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #c6ac8f;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .hero-video {
    display: block;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .hero-video {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
  }
}

/* media card */

@media screen and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #c6ac8f;
  }
}

/* @media screen and (min-width: 767px) {
  .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #c6ac8f;
  }
} */

/* mq contactform */

@media screen and (max-width: 767px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
