@mixin contactform {
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin card {
  display: flex;
  flex-direction: row;
  background-color: $colorgreen;
}

@mixin mobile {
  @media (min-with: $mobile) {
    flex-direction: row;
  }
}

@mixin footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mediaquerie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin navbar {
  display: flex;
  /*   flex-direction: row; */
  align-items: center;
  text-align: center;
}
