$colorgreen: #5e503f;
$colorwhite: #eae0d5;

.navbar {
  @include navbar;
  padding: 2rem;
  background-color: $colorwhite;
  justify-content: center;

  /*  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center; */
  .navbar-collapse {
    margin-left: 100px;
    /*  align-items: center; */
    justify-content: space-between;
  }

  .nav-item {
    margin-left: 15px;
    /* align-items: center; */
    justify-content: space-between;
    color: $colorgreen;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
}
