* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colorblue);
  font-family: "Poppins", sans-serif;
}

/* barra nav */
.navbar {
  padding: 2rem;
  background-color: #eae0d5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-collapse {
  margin-left: 100px;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  margin-left: 15px;
  align-items: center;
  justify-content: space-between;
  color: #5e503f;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

img:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.1s;
}
h1 {
  padding: 2rem;
  font-size: 2.5rem;
  color: var(--colorwhite);
}
h2,
h3,
h4,
h5 {
  color: var(--colorwhite);
}

p {
  color: var(--colorwhite);
  margin-top: 1rem;
}
/* section Hero Main */

.hero-principal {
  align-items: center;
  justify-content: center;
  /*   margin: 20px; */
}
.hero-video {
  margin-bottom: 2rem;
  width: 426px;
  height: 240px;
}

.galeria__nosotros,
h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main.responsive {
  margin-top: 3rem;
  margin-bottom: 2rem;
  min-height: 450px;
  text-align: center;
}

.main__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.main__text {
  max-width: 80%;
}

.card {
  background-color: var(--colorgreen);
}

.btnbtn-outline-success {
  border-radius: 8px;
  color: var(--colorgreen);
  background-color: var(--colorgreen);
}

.img-fluid {
  border-radius: 10px;
}

/* footer */

footer {
  height: 110px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--colorwhite);
}
h6 {
  color: var(--colorblue);
  font-size: 12px;
}

.iconos-buscanos {
  margin-top: 1rem;
}

/* .iconos-copyright {
  margin-bottom: 0, 5rem;
} */

path:hover {
  color: var(--colorbeige);
  transition: all 0.1s ease-in;
  font-size: 10px;
}

.iconos-redes-sociales svg {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin: 10px;
  border: 2px solid var(--colorblue);
  border-radius: 50%;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.iconos-redes-sociales svg {
  font-size: 10px;
  transition: all 0.2s;
  color: var(--colorblue);
}

.card {
  display: flex;
  flex-direction: row;
}

img {
  object-fit: cover;
}

.floral {
  margin-bottom: 3rem;
}

.clasicos {
  margin-bottom: 3rem;
}

.delmar {
  margin-bottom: 3rem;
}

.btn-primary {
  color: var(--colorwhite);
  border: 2px solid var(--colorwhite);
  background-color: var(--colorgreen);
}

.main__contact {
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  color: var(--colorwhite);
}
input,
select,
textarea {
  color: var(--colorblue);
  border-radius: 4px;
  padding: 4px;
  background-color: var(--colorwhite);
}

h5.card-title {
  color: var(--colorwhite);
}

p.card-text {
  color: var(--colorwhite);
}

p.main__text,
p. .carousel-inner,
h5 {
  color: var(--colorblue);
}

/* Responsive */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: flex;
    flex-direction: column;
    /*  justify-content: center;
    align-items: center; */
  }
}

@media screen and (max-width: 767px) {
  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #5e503f;
  }
}

@media screen and (min-width: 767px) {
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #5e503f;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
